<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <title>Business Meets Clients</title>
</head>

<body id="userbody">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="./index.html">
            <span class="brandstyle1">WE</span>
            <span id="brandstyle2">connect</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="./index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav float-right">

                <li class="nav-item">
                    <span class=" small">Username</span>
                    <span>
                        <i class="fa fa-user fa-2x px-3 py-1 thehover" aria-hidden="true"></i>
                    </span>
                </li>

            </ul>

            <form class="form-inline my-2 my-lg-0" action="./index.html">

                <button class="btn btn-primarybtn my-2 my-sm-0" type="submit">Logout</button>
            </form>


        </div>
    </nav>

    <!-- End of Navigation -->

        <!-- MAIN SECTION -->

        <section id="mainsection">
            <div class="container">
                <div class="row">
    
                    <!-- LEFT SIDE -->
    
                    <div class=" col-md-3" id="left-section">
    
                        <ul class="list-group py-2">
    
                            <li class="list-group-item active orangecolour">
                                <a href="./create.html">Create New Business</a>
                            </li>
                            <li class="list-group-item">
                                <a href="./user.html">My Business</a>
                                <span class="badge badge-primary badge-pill orangecolour float-right">3</span>
                            </li>
    
                            <li class="list-group-item">
                                <a href="./businesses.html">All Businesses</a>
                                <span class="badge badge-primary badge-pill orangecolour float-right">23</span>
                            </li>
    
    
                        </ul>
                    </div>
                    <!-- ENDO OF LEFT SIDE -->
    
    
    
    
    
    
                    <div class="col-md-9 space">
                        <h2>Business Name</h2>
    
                        <hr class="">
                        <p>By
                            <span class="text-primary">username</span>
                        </p>
                        <hr>
                        <p>Registered 25 August 2017</p>
    
                        <!-- Inner row -->
    
    
    
                        <div class="row">
                            <div class="col-md-4" id="rating">
                                <div>
    
                                    <h1 class="text-center my-5" style="font-size:6rem">3.9</h1>
                                    <p class="text-center">Rating</p>
    
                                </div>
                            </div>
    
    
    
                            <div class="col-md-8">
                                <img src="./img/icon8.png" alt="" class="img-fluid rounded">
    
    
    
    
                            </div>
    
    
                        </div>
    
                        <hr>
                        <div class="myinstructions">
                            <h3>Business Description</h3>
                            <p class=" text-justify">It is a long established fact that a reader will be distracted by the readable content of a page
                                when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution of letters, as opposed to using 'Content here, content here', making it look like
                                readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as
                                their default model text, and a search for 'lorem ipsum' will uncover many web sites still in
                                their infancy. Various versions have evolved over the years, sometimes by accident, sometimes
                                on purpose (injected humour and the like</p>
    
                        </div>
    
    
    
    
                        <hr>
    
                        <div class="card">
                            <h6 class="card-header">Comment here</h6>
                            <div class="card-block">
                                <form class="form-group">
                                    <textarea name="mytextarea" id="" cols="100%" rows="5" class="noresize"></textarea>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-4">
                                            <select class="form-control">
                                                <!-- Select Rating -->
                                                <option disabled selected value>Rate</option>
                                                <option value="5">5</option>
                                                <option value="4">4</option>
                                                <option value="3">3</option>
                                                <option value="2">2</option>
                                                <option value="1">1</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" class="btn blue-bgcolour text-white rounded">Comment</button>
                                        </div>
                                        <!-- End of Inner row for Comment form -->
                                    </div>
                                </form>
    
                            </div>
    
                        </div>
                        <!-- End of Card -->
    
                        <div class="row">
                            <div class="col-md-12">
    
                                <div class="card space">
                                    <!-- Begin Comment div -->
                                    <!-- Comment Card -->
                                    <div class="card-header">
                                        <strong>User</strong> Commented 6 days ago
                                    </div>
                                    <div class="card-body">
    
                                        <p class="card-text">Really Nice.</p>
    
                                    </div>
                                </div>
                                <!-- End of Comment Card -->
    
    
                                <div class="card space">
                                    <!-- Begin Comment div -->
                                    <!-- Comment Card -->
                                    <div class="card-header">
                                        <strong>User</strong> Commented 2 days ago
                                    </div>
                                    <div class="card-body">
    
                                        <p class="card-text">Good.</p>
    
                                    </div>
                                </div>
                                <!-- End of Comment Card -->
    
    
    
    
    
                                <div class="card space">
                                    <!-- Begin Comment div -->
                                    <!-- Comment Card -->
                                    <div class="card-header">
                                        <strong>User</strong> Commented 9 days ago
                                    </div>
                                    <div class="card-body">
    
                                        <p class="card-text">9/10 for me.</p>
    
                                    </div>
                                </div>
    
    
                            </div>
                        </div>
                    </div>
    
        </section>
    
        <!-- END OF MAIN SECTION -->
    
    
