<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <title>Business Meets Clients</title>
</head>

<body id="userbody">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="./index.html">
            <span class="brandstyle1">WE</span>
            <span id="brandstyle2">connect</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="./index.html">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="./user.html">User
                        <span class="sr-only"></span>
                    </a>
                </li>

            </ul>
            <ul class="navbar-nav float-right">

                <li class="nav-item">
                    <span class=" small">Username</span>
                    <span>
                        <i class="fa fa-user fa-2x px-3 py-1 thehover" aria-hidden="true"></i>
                    </span>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0" action="./index.html">

                <button class="btn btn-primarybtn my-2 my-sm-0" type="submit">Logout</button>
            </form>
        </div>

    </nav>

    <!-- End of Navigation -->

    <!-- SEARCH BUSINESS -->

    <div class="container">

        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <form class="form-inline">

                    <input type="text" id="search-business" class="form-control mr-sm-2" placeholder="Search Business">
                    <button class="btn btn-primarybtn white-text my-2 my-sm-0">
                        <i class="fa fa-search"></i>
                    </button>

                </form>
            </div>
        </div>

        <div class="row">

            <!-- END OF SEARCH BUSINESS -->


            <!-- FILTER BUSINESS -->

            <div class=" col-md-3 " id="left-section">

                <h5 class="white-colour my-5">FILTER</h5>
                <div id="accordion" class=" my-5 #business-accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Locaton
                                </button>
                            </h5>
                        </div>

                        <!-- LOCATION FILTER -->

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="abia">
                                    <label class="form-check-label" for="abia">
                                        Abia
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="adamawa">
                                    <label class="form-check-label" for="adamawa">
                                        Adamawa
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="akawaibom">
                                    <label class="form-check-label" for="akawaibom">
                                        Akwa Ibom
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="anambara">
                                    <label class="form-check-label" for="anambara">
                                        Anambara
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="abuja">
                                    <label class="form-check-label" for="abuja">
                                        Abuja
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="lagos">
                                    <label class="form-check-label" for="lagos">
                                        Lagos
                                    </label>
                                </div>

                            </div>

                        </div>
                        <!-- END OF LOCATION FILTER -->

                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Category
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="accounting">
                                    <label class="form-check-label" for="accounting">
                                        Accounting
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="infotech">
                                    <label class="form-check-label" for="infotech">
                                        Information Technology
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="oilandgas">
                                    <label class="form-check-label" for="oilandgas">
                                        Oil and Gas
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <!-- END OF FILTER BUSINESS -->

            <div class="col-md-9">
                <div class="container">
                    <div class="row">

                        <div class="card-deck my-5 justify-businesscard">

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>


                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>





                        </div>


                    </div>
                    <!-- End Deck of cards 1-->

                    <!-- ROW 2 -->

                    <div class="row">


                        <div class="card-deck my-5 justify-businesscard">

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>


                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>

                            <div class="card">
                                <a href="./business.html">
                                    <img class="card-img-top" src="./img/icon1.png" alt="Card image cap"> </a>
                                <div class="card-block">
                                    <h5 class="card-title">Business Name</h5>
                                    <span class=" card-text">
                                        <i class="fa  fa-industry py-1 thehover" aria-hidden="true"></i> Information Technology</span>
                                    <div class="card-footer">
                                        <p class="card-text">
                                            <small class="text-muted">Rivers state</small>
                                        </p>
                                    </div>

                                </div>
                            </div>





                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <!-- COMPANY SECTION -->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>Contact us</h5>
                    <br>
                    <i class="fa fa-phone">0802-5784434</i>
                    <br>
                    <i class="fa fa-envelope">klevamane@gmail.com</i>
                </div>
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>About Us</h5>
                    <br>
                    <p class=" text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sit nam deserunt debitis unde dolorum possimus
                        aliquam ullam impedit
                        <br> reiciendis neque, enim odio, doloribus vero nobis facilis rem! A, quis.</p>
                </div>
                <div class=" col-sm-12 col-md-4 col-xl-4 col-lg-4">
                    <h5>NEWSLETTER</h5>
                    <br>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sit</p>

                </div>
            </div>
        </div>
    </section>

    <!-- END OF COMPANY SECION -->


    <footer id="footer">
        <p>Copyright 2018 @klevamane - Cycle 30</p>
    </footer>

    <!-- SCRIPTS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/holder.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>

</body>
