

body{
  font-family: 'Open-Sans', sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 17px;
  line-height: 1.5em;

}

/*** NAVBAR ***/

#navbar li {
  display: inline;
  list-style: none;
  padding-right: 15px;
  
}

#navbar li a {
  color: #56b69f;
  text-decoration: none;
}

#navbar li.current a, #navbar a:hover {
  border-bottom: 2px solid #56b69f
}

#navbar{
  text-transform: uppercase;
}

/* COMMON CLASSES */
.primaryText{
  color: #56b69f;
}

.primaryBackground{
  background: #56b69f;
}

/*HEADER*/

#mainHeader{
  border-bottom: 2px solid #56b69f;
}


/*SHOWCASE*/

#showcase {
  background:url('../images/mac.jpeg') no-repeat center center;
  border-bottom: 1px solid #56b69f;
  margin-bottom: 30px;
}

#showcase .row{
      height: 600px;
  }


#showcase h1{
  font-size: 50px;
  padding-bottom: 20px;
  
}

#showcase .showcaseContent {
  background: #333;
  color: #fff;
  border-radius: 90px;
  padding: 40px;
  opacity: 0.9;

}

nav ul, header h1 {
  padding-top: 10px;
}

img{
  width: 100%;
}

/*FEATURES SECTION*/
#features {
  
  margin-bottom: 20px;
  padding-bottom: 20px;
}

#features h5 {
  padding-top: 20px;
}


/*FONT AWESOME*/
#features .fontawesome-size {
  font-size: 50px;
  color: #56b69f;
}

#icons-row1 {
  padding-bottom: 50px;
  padding-top: 30px;
}

#icons-row2 {
  padding-bottom: 50px;
}

/** RATING **/
.rating {
  font-size: 84px;
}



/*INFO SECTION */
#info{
  padding-top: 30px;
  border-top: 3px solid #56b69f;
}

/* COMPANY SECTION**/
#company{
  background: rgb(31, 31, 34);
  color: #fff;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: 30px;
  border-top: 1px solid #56b69f;

}



/****Footer*****/
#footer {
  background-color:  #56b69f;
  color: #fff;
  font-weight: solid;
  padding-top: 20px;
  padding-bottom: 15px;
  text-align: center;
}

#footer p{
  font-size: 15px;
}




/****MEDIA QUERIES******/
@media(max-width:799px){
   .mediaq{
      text-align:center;
  } 
  nav ul{
      text-align: center;
  }

  #company h5 {
      text-align: center;
  
  
  }
  
  #company i {
      align-content: center;
      text-align: center;
  }
      
      
  
}



@media (min-width:801px) {
  nav ul {
      float: right;
      
  }
  
}