/********************
PROJETC COLOURS
*******************
#E7717D -- NAVBAR
#C2CAD0 ---- Gray/ BACKGROUND
#C2B9B0
#7E685A
#AFD275
#6e4049c2 ---- SHOWCASE
**/


body {
    background: #C2CAD0;
}

#userbody{
  background: #f4f4f4 !important;
}

.my-6 {
  margin-bottom: 3rem !important;
  margin-top: 6rem !important;
}

.bottom-margin20 {
  margin-bottom: 10rem;
}
.bottom-padding5 {
  padding-bottom: 5rem;
}
/****COLOURS ****/


.white-colour {
  
 color: #ffffff;
 font-weight: bolder;
 }

.yellow-colour {
 color: #f3df2b;
 font-weight: bold;
}


.primary-app-colour {
  color: #E7717D;
}


.business-name {
    color: #7E685A !important;
    font-weight: bold !important;
}
/** SHOWCASE **/

#showcase{
   /** background: url('../img/register.jpg') no-repeat center center; **/
    margin-top: 2px;
    
}

#showcase-container {
    background: url('../img/register.jpg') no-repeat center center;
}

#showcase .row {
    height: 400px;
}


/** CUSTOM PADDING **/
.p-6 {
    padding: 4rem !important;
  }

  .p-7 {
    padding: 13rem 2rem 6rem 6rem !important;
  }
.showcase-colour {
    color: #6e4049c2
}

.top-padding {
    padding-top: 200px;
}

/*CUSTOM ICON SIZE*/
.fa-6x {
  font-size: 6em;
}

/** SHOWCASE**/
#showcase h1 {
    padding-bottom: 0;
    margin-bottom: 0;
}

#showcase a:link, a:visited{
    text-decoration: none;
    color:#f3df2b;
}

#register .row {
    height: 60px;    
}

#register {
    background-color: #C2B9B0;
}

#register h5{
    padding-left: 0;
    margin-left: 0;
}

.divcol {
    background-color: #f3df2b;
}

.divcol2 {
    background-color: #ec7616;
}

.divcol3 {
    background-color: #7E685A;
}


.myleft-padding {
    padding-left:0 !important;
  }

.goodservice{
    font-weight: bold;
}

#follow-us {
    background: #C2B9B0;
    height: 100px;
}

.follow-us-icons {
    background-color: #ec7616;
    height: 70px;
    width: 70px;
    text-align: center;
    padding: 21px 0px;
    font-size: 30px;
    color: #fff;
    float: left;
    border-radius: 100%;
    margin: 0px 20px 0px 0px;
}

.follow-us-text {
  color: #fff;
  font-weight: bolder;
}

.rating {
    font-style: italic;
    font-weight: lighter;
}

.card h6 {
    padding: 0;
    margin-top: 0;
}

.card-body {
    padding-top: 10px !important;
    padding-bottom: 5px;
}

/*** NAVBAR COLOUR AND SETTING ***/

.navbar {
    background-color: #e7717d;
  }
  .navbar .navbar-brand {
    color: #ecf0f1;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #ecdbff;
  }
  .navbar .navbar-text {
    color: #ecf0f1;
  }
  .navbar .navbar-text a {
    color: #ecdbff;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #ecdbff; 
  }
  .navbar .navbar-nav .nav-link {
    color: #ecf0f1;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #ecdbff;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #ecdbff;
    background-color: #e86471;
  }
  .navbar .navbar-toggle {
    border-color: #e86471;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #e86471;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #ecf0f1;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #ecf0f1;
  }
  .navbar .navbar-link {
    color: #ecf0f1;
  }
  .navbar .navbar-link:hover {
    color: #ecdbff;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #e86471;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #e86471;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #e86471;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #ecf0f1;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #ecdbff;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #ecdbff;
      background-color: #e86471;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ecf0f1;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #ecdbff;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #ecdbff;
    background-color: #e86471;
  }



  /****
  BRAND STYLES
  **/
  .brandstyle1 {
      color: rgb(231, 228, 54);
      font-weight: bolder;
      font-family: Arial, Helvetica, sans-serif
  }

  #brandstyle2 {
      font-weight: bold;
  }


  /****Footer *****/
  #footer {
    background: #7E685A;
    height: 100px;
    color: #fff;
    
  }



  #company{
    background: rgb(31, 31, 34);
    color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
    margin-top: 30px;
    border-top: 1px solid #56b69f;

}


#footer {
    background-color:  rgb(151, 67, 77);
    color: #fff;
    font-weight: solid;
    padding-top: 20px;
    padding-bottom: 15px;
    text-align: center;
}

#footer p{
    font-size: 15px;
}




/**CUSTOM BUTTON******/


.btn-primarybtn {
  color: #fff;
  background-color: #E7717D;
  border-color: #E7717D;
}

.btn-primarybtn:hover {
  color: #fff;
  background-color: rgb(151, 67, 77);
  border-color: rgb(151, 67, 77);
}

.btn-primarybtn:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btn-primary.disabled, .btn-primary:disabled {
  background-color: #E7717D;
  border-color: #E7717D;
}

.btn-primary:not([disabled]):not(.disabled):active, .btn-primary:not([disabled]):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgb(151, 67, 77);;
  border-color: rgb(151, 67, 77);;
}

.btn-primary:not([disabled]):not(.disabled):active:focus, .btn-primary:not([disabled]):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}





  /** MEDIA QUERIES **/ 
  @media(max-width:770px) {

    #some-businesses .card {
      
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
      float: none;
    }
    .justify-businesscard {
      
     margin: 0 auto;
      
    }
  }

  .centralizeAnchor {
    margin: 0 auto;
  }


  @media(max-width: 300px) {
    #register .divcol3 a{
      display: block;
      width: 100%;

    }

  }
  @media(min-width:301px) {

  }

  .orange-text {
    
    border:none;
    text-decoration: none !important;
  }

  .orangecolour{
    background-color: #f7ac47 !important;
    border: none;
  }
  .thehover {
    color: rgb(167, 74, 86);
  }

  .thehover i:hover {
    color: rgb(151, 67, 77);
    cursor: pointer;
     
  }

  #left-section{
    background: rgb(68, 35, 40);
    height:100;
}

#left-section ul li a {
  color:rgb(231, 228, 54) !important;
  text-decoration: none;
  font-weight:450;
}

#left-section ul li a:hover {
  color:rgb(231, 228, 54) !important;
  text-decoration: none;
  font-weight:700;
}

#business-table a:hover{
  font-weight: bolder !important;
  text-decoration: none !important;
  
}

#business-table a{
  color:inherit;
}